.hidden {
    display: none;
}

.body {
    display: block;
}

form {
    border: 2px solid blue;
    padding: 10px;
    margin: 10px 0;
}

p {
    border: 2px solid red;
    padding: 10px;
    margin: 10px 0;
}

#name-form button {
    display: block;
    margin-top: 10px; 
}

#select-form button {
    display: block;
    margin-top: 20px;
}

#realquestion button {
    display: block;
    margin-top: 20px; 
}

#reset button {
    display: block;
    margin-top: 20px;
}

#wizard {
    width: 50vw;
    height: auto;
}